//- layout.pug
html(lang="en")

  - metaContent ="Use Contrast";
  - metaCard    ="https://mds-assets.s3.amazonaws.com/contrast/meta-contrast-22.png";
  - metaDesc    ="Use Contrast for Figma provides quick access to WCAG color contrast ratios.";

  head
    block head
      title Use Contrast – Figma plugin

    block meta
      meta(charset="utf-8")
      meta(name="description" content="Prototype")
      meta(name="HandheldFriendly" content="True")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes")

      meta(name='description', content=metaDesc)

      //- Schema.org markup for Google+
      meta(itemprop='name', content=metaContent)
      meta(itemprop='description', content=metaDesc)
      meta(itemprop='image', content=metaCard)
      meta(name='google-site-verification' content='2HVjSD1yH1jX6CtamvDwyuTqQFwMdoFvlbLbXLtEmJQ')

      //- Twitter Card data
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@mds')
      meta(name='twitter:title', content=metaContent)
      meta(name='twitter:description', content=metaDesc)
      meta(name='twitter:creator', content='@mds')

      //- Twitter summary card with large image must be at least 280x150px
      meta(name='twitter:image:src', content=metaCard)

      //- Open Graph data
      meta(property='og:title', content=metaContent)
      meta(property='og:type', content='article')
      meta(property='og:url', content='http://shiftnudge.com')
      meta(property='og:image', content=metaCard)
      meta(property='og:description', content=metaDesc)
      meta(property='og:site_name', content=metaContent)

  block stylesandscripts
    link(rel="stylesheet" type="text/css" href="/css/screen.css")

  block content
    body

  script(type="text/javascript" src="/js/contrast-min.js") 

